
#fork {
    position: absolute;
    top: 0;
    right: 0;
    background: url("../images/github.png") 0 0 no-repeat;
    display: block;
    width: 149px;
    height: 149px;
    text-indent: -9999px;
    z-index: 9999;
}
